{% extends "base.html" %}

{% block title %}Acerca de{% endblock %}
{% block content %}
<br>
<h3>Misión</h3>
<p align="justify" style="padding: 20px;">
    SmartCube tiene como propósito y enfoque impulsar la productividad del sector residuos dentro de las organizaciones. 
    Permitiendo así potenciar más a fondo las capacidades de los trabajadores y ahorrándoles tiempo invertido en acciones ineficientes. 
    Esto bajo la creencia de que la tecnología y la innovación son el principal foco del progreso. 
    Nos sentimos responsables del futuro y es por ello que trabajaremos para que sea grandioso. 
</p>

{% endblock %}