{% extends "base.html" %}

{% block title %}Contenedor{% endblock %}
{% block content %}
<p>Puedes contactarnos a través de los correos de los integrantes del equipo:
    <br>
    - Kevin Mauricio Loaiza - kmloaizaa@eafit.edu.co
    <br>
    - Juan David Valencia - jdvalencit@eafit.edu.co
    <br>
    - David Cardona Nieves - djcardonan@eafit.edu.co
    <br>
    
    Cualquier duda respecto al estado/funcionamiento del proyecto y/o sugerencias pueden ser aportadas directamente en el repositorio de GitHub utilizando la sección de “issues”.</p>
{% endblock %}