{% extends "base.html" %}

{% block title %}Crear contenedor{% endblock %}

{% block barra %}
    <a style="color: black" href="http://127.0.0.1:8000/login/">cerrar sesion</a>
{% endblock %}

{% block content %} 
    {% if form.error %}
        <p style= "color:red;">favor revisa este campo </p>
    {% endif %}
    <br>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div style=" height: 500px; width: 370px;">
    <form action="/insert_contenedor/" method="POST">{% csrf_token %}
        <table>
            {{ form.as_table }}
            </table>
            <br>
        <input type="submit" value="Crear contenedor" class="btn btn-success">
    </form>
    </div></div>
{% endblock %}