
{% extends "base.html" %}

{% block title %}Quienes somos{% endblock %}
{% block content %}
<p align="justify" style="padding: 20px;">SmartCube es un proyecto cuya finalidad es optimizar el uso de tiempo, recursos y modernizar el proceso de recolección de residuos, con el objetivo de crear rutas y planes con un mayor beneficio tanto para los lideres de servicio, así como aquellos que realizan la labor. Esto se logra al ofrecer a las organizaciones la posibilidad de optimizar estos procesos mediante la integración de tecnologías tales como ThingSpeak y técnicas de análisis de datos.</p>
{% endblock %}