<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

{% extends "base.html" %}

{% block title %}Registrate{% endblock %}

{% block barra %}
    <a style="color: black" href="http://127.0.0.1:8000/login/">Iniciar sesion</a>
{% endblock %}

{% block content %} 
{% if form.errors %}
<p style="color: red;">Por favor revisa este campo</p>
{% endif %}
<h1>Regístrate</h1>
    <div>
        <form action="/signup/" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            
            <input type="submit" id="button" class="btn btn-info btn-md" value="Registrar">
        </form>
    </div>
        
{% endblock %}

