{% extends "base.html" %}

{% block title %}Actualizar{% endblock %}

{% block barra %}
    <a style="color: black" href="http://127.0.0.1:8000/login/">cerrar sesion</a>
{% endblock %}

{% block content %} 
    {% if form.error %}
        <p style= "color:red;">favor revisa este campo </p>
    {% endif %}
    <form action="/update_contenedor/" method="POST">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="hidden" name="id_form" value="{{id}}">
        <input type="submit" name = "update" value="Actualizar contenedor">
    </form>
    
{% endblock %}