{% extends "base.html" %}

{% block title %}Servicios{% endblock %}
{% block content %}
<p> SmartCube trabaja mediante el análisis y estudio para la posterior implementación de diversos tipos de sensores en los contenedores de residuos presentes en cada organización. Esto con el fin de poder realizar diversos análisis de los datos obtenidos para determinar las rutas y horarios más optimos en el proceso de recolección de los mismos.
<br>
Dentro del marco de trabajo se encuentran:
<br>
<ul>
    <li>Instituciones educativas</li> 
    <li>Organizaciones empresariales </li>
    <li>Hogares</li>
    <li> Instituciones gubernamentales</li>
</ul>
</p>

{% endblock %}